html,body{
	width: 100%;
	height: 100%;
	font-size: 16px;
}

html,body,footer,div,hr{
	margin: 0px;
	padding: 0px;
}

th{
	font-weight: 20px;
	font-size: 20px;
	font-family: 'Dancing Script', cursive;
	width: 20%;
}

#topfooter{
	background-color: #060708;
	color: white;
	padding: 10px;
}

#about{
	display: inline-block;
	margin:0px;
	padding: 0px;
	width: 20%;	
}

#gallery{
	display: inline-block;
	width: 20%;	
}

#galleryimage{
	width: 80px;
	height: 80px;
	padding-right: 10px;
	border: 1px solid white;
	
}

#operation{
	display: inline-block;
	width: 20%;	
	
}

#lsc{
	display: inline-block;
	width: 20%;	
	
}

#location{

}

#social{

}

#bottomfooter{
	border: 0px;
	margin: 0px;
	background-color: #000000;
	padding: 1%;
}

#copyright{
	
	color: white;
}

#PrivacyPolicy{
	color: #0A62B9;
}